.body {
  margin-top: 40px;
}

.coin-container .content {
  padding: 8px;
  max-width: 740px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: var(--clr);
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 10px;
}

.rank {
  margin: 0.5 0;
  display: flex;
}

.rank-btn {
  border: 1px solid var(--bg);
  box-shadow: 0px 0px 8px #18191b;
  background-color: var(--bg);
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.info .coin-heading img {
  width: 80px; /* Increase the size of the image */
  height: auto;
  margin-right: 1rem;
  margin-left: 1rem;
}

.info .coin-heading p {
  font-size: 30px;
}

.info .coin-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.info p {
  padding-right: 1rem;
}

table {
  margin: 0.5rem 0;
}

td,
th {
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--bg);
}

/* Add rounded corners to the table headers and cells */
th:first-child {
  border-top-left-radius: 10px; /* Rounded top-left corner */
  border-bottom-left-radius: 10px; /* Rounded bottom-left corner */
}

th:last-child {
  border-top-right-radius: 10px; /* Rounded top-right corner */
  border-bottom-right-radius: 10px; /* Rounded bottom-right corner */
}

td:first-child {
  border-bottom-left-radius: 10px; /* Rounded bottom-left corner */
}

td:last-child {
  border-bottom-right-radius: 10px; /* Rounded bottom-right corner */
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.stats .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
  margin: 0.6rem 0;
  padding-bottom: 0.5rem;
}

.stats .row p:first-child {
  color: #d3d3d3;
}

.about h3 {
  margin: 1rem 0;
}

@media screen and (max-width: 700px) {
  .coin-container .content {
    max-width: 100%;
    margin: 0.5rem;
    padding: 0 0.5rem;
  }

  .stats {
    grid-template-columns: 1fr;
  }

  td,
  th {
    padding: 3px;
  }

  .rank {
    margin: 0.5rem;
  }

  .rank-btn {
    margin: 0.5rem 0;
  }
}

.coin-price {
  font-size: 30px;
}

.chart {
  font-size: 55px;
}
