.container {
<<<<<<< HEAD
  flex: 1;
  display: flex;
  flex-direction: column;
=======
  padding: 50px;
  padding-top: 20px;
>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
}
.home {
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
<<<<<<< HEAD
  padding-bottom: 10px;
  cursor: default;
=======
>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
}
.home h1 {
  font-size: 50px;
}
.home p {
  font-size: 25px;
  width: 100%;
<<<<<<< HEAD
  color: #ffffff;
=======
  color: #e3e3e3;
>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
  line-height: 2;
}
.search {
  padding: 20px;
<<<<<<< HEAD
  color: var(--bg);
=======
>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin: 30px;
  cursor: text;
  margin-bottom: 1px;
=======
  margin-top: 30px;
  cursor: text;
>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
}
.search input {
  font-size: 20px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293143;
  box-shadow: 0px 0px 12px #18191b;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
<<<<<<< HEAD
  padding: 20px;
  font-weight: 700;
  margin-left: 30px;
  margin-right: 30px;
}

.coin-name {
  margin-left: -2.5rem;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hour {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
=======
  padding: 20px 10px;
  font-weight: 700;
  margin-top: 20px;
}

.coin-name {
  margin-left: -4rem;
}

>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
.coin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #293143;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: none;
  border: none;
  padding: 10px;
<<<<<<< HEAD
  margin-left: 30px;
  margin-right: 30px;
  border-collapse: collapse;
=======
>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
}

.coin-row:hover {
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

img {
  height: 40px;
  margin-right: 8px;
  width: auto;
}

<<<<<<< HEAD
=======
.img-symbol {
  display: flex;
  align-items: center;
}

>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
@media screen and (max-width: 720px) {
  .hide-mobile {
    display: none;
  }
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
}

.pagination button {
  background-color: var(--clr);
=======
  margin: 20px 0;
}

.pagination button {
  background-color: #4000a0;
>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
<<<<<<< HEAD
  background-color: var(--colour);
=======
  background-color: #333;
>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
<<<<<<< HEAD
  background-color: var(--color);
}
.crypto-news-section {
  margin-left: 30px;
  margin-right: 30px;
}

.footer {
  position: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--primary);
  background-color: var(--clr);
  padding: 20px;
  margin-top: 50px;
  cursor: default;
  box-shadow: 0px 0px 12px #18191b;
}
.footer p {
  font-style: italic;
  text-align: center;
}

.table-container {
  margin: 0 30px;
  overflow-x: auto;
}

.crypto-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: #293143;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 4px;
}

.crypto-table th,
.crypto-table td {
  padding: 15px;
  border-bottom: 1px solid #444;
}

.crypto-table th {
  background-color: #1f2833;
  font-weight: bold;
}

.crypto-table tr:hover {
  background-color: #34495e;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crypto-table .img-symbol {
  display: flex;
  align-items: center;
  gap: 10px;
}

.crypto-table .img-symbol img {
  height: 30px;
  width: 30px;
=======
  background-color: #4000a0;
>>>>>>> 973406ad9ce4e48c5e7ce1a90a47a28a15a5df21
}
